.section-header {
  text-align: center;
  margin-bottom: 50px;
  font-family: Unageo2, sans-serif;

    }


//.lina {
//  width: 35px;
//  background-color: var(--lazur);
//  height:  2px;
//  margin-left: auto;
//  margin-right: auto;
//}
.section-title {
   font-family: manr;
   font-size: 2.5rem;
   color: var(--gagat);
   margin-bottom: 15px;
   line-height: 1.2;
}
.section-subtitle {
   font-size: 1rem;
   color: var(--lazur);

   text-transform: uppercase;
   letter-spacing: 1px;
   margin-bottom: 5px;
   padding: 6px 18px;
   background-color: rgba(39, 100, 174, 0.1);
   border-radius: 20px;
  font-family: Unageo2, sans-serif;
}
.section-description22 {
  font-family: Unageo2, sans-serif;
  font-size: 1.1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}