header {
  z-index: 1000;

  .nav {
    border-radius: 25px;
    flex-wrap: wrap;
    display: flex;
    padding: 20px 120px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 810px) {
      padding: 20px 20px;
    }

    }
    .logo-icon {
      font-size: 1.3em;
    }




    .nav-menu.desktop-menu {

      list-style: none;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @media (max-width: 1100px) {
        display: none;
      }
      .nav-menu-cl {
        padding: 10px 20px;
        text-decoration: none;
        color: var(--zag);
        font-weight: bold;
        border-radius: 25px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          background: var(--gagat2);
          color: var(--lazur);
        }
      }
    }

    .burger-icon {

      display: none;
      flex-direction: column;
      width: 30px;
      height: 21px;
      cursor: pointer;
      position: relative;
      z-index: 1001;
      @media (max-width: 810px) {
        display: flex;
      }
      span {
        height: 3px;
        width: 100%;
        background: var(--gagat);
        border-radius: 3px;
        transition: all 0.3s ease;
        transform-origin: center;
        &:nth-child(2) {
          margin: 6px 0;
        }
      }
    }
  }
  // Модалка
  .burger-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .burger-modal-content {


      border-radius: 25px;
      padding: 40px;
      width: 100%;
      max-width: 400px;

      position: relative;
      .burger-close {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 2rem;
        color: var(--accent);
        cursor: pointer;
        width: 40px;
        height: 40px;
      }

      .burger-menu {

        list-style: none;
        padding: 0;
        margin: 0;
        .burger-menu-cl {

          display: block;
          text-decoration: none;
          color: white;
          padding: 15px 20px;
          font-weight: 500;
          border-radius: 15px;
          transition: all 0.3s ease;
          text-align: center;
          font-size: 1.1em;
          cursor: pointer;
          &:hover {
            background: var(--gagat2);

          }
        }
      }
    }
  }


.svet {
  display: flex;
  gap: 20px;
  align-content: center;
}
.lig-dark {
  cursor: pointer;

}
