@font-face {
  font-family: 'Unageo2';
  src: url('../../assets/fonts/Unageo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unageo3';
  src: url('../../assets/fonts/Unageo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}