<section id="stages" class="stages-section">
    <div class="container">
        @@include('../components/_chapter.html', {
        "subtitle": "Процесс работы",
        "title": "Этапы работы",
        "description": "Прозрачный и четкий процесс бурения скважин от первого звонка до сдачи объекта"
        })
        <div class="stages-timeline">
            <!-- Этап 1 -->
            <div class="stage-item block">
                <div class="stage-item__number">01</div>
                <div class="stage-item__content">
                    <h3 class="stage-item__title">Выезд специалиста для оценки участка</h3>
                    <p class="stage-item__description">Наш специалист приезжает на участок, проводит осмотр и консультацию, определяет оптимальное место для скважины.</p>
                </div>
                <div class="stage-item__icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 3.333C10.795 3.333 3.333 10.795 3.333 20c0 9.205 7.462 16.667 16.667 16.667 9.205 0 16.667-7.462 16.667-16.667 0-9.205-7.462-16.667-16.667-16.667zm0 5c3.22 0 5.833 2.613 5.833 5.833 0 3.22-2.613 5.834-5.833 5.834-3.22 0-5.833-2.614-5.833-5.834 0-3.22 2.613-5.833 5.833-5.833zm0 23.334c-4.083 0-7.725-2.057-10-5.222.05-3.235 6.667-5 10-5 3.308 0 9.95 1.765 10 5-2.275 3.165-5.917 5.222-10 5.222z" fill="var(--lazur)"/>
                    </svg>
                </div>
            </div>

            <!-- Этап 2 -->
            <div class="stage-item block">
                <div class="stage-item__number">02</div>
                <div class="stage-item__content">
                    <h3 class="stage-item__title">Подготовка оборудования</h3>
                    <p class="stage-item__description">Мы используем современное оборудование и технологии для бурения скважин, что позволяет нам обеспечить высокую эффективность и точность работ.</p>
                </div>
                <div class="stage-item__icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35 15h-3.333V8.333C31.667 6.5 30.167 5 28.333 5H11.667C9.833 5 8.333 6.5 8.333 8.333V15H5c-1.833 0-3.333 1.5-3.333 3.333v13.334C1.667 33.5 3.167 35 5 35h30c1.833 0 3.333-1.5 3.333-3.333V18.333C38.333 16.5 36.833 15 35 15zm-20-6.667h10V15H15V8.333zM5 18.333h30v13.334H5V18.333z" fill="var(--lazur)"/>
                    </svg>
                </div>
            </div>


            <!-- Этап 3 -->
            <div class="stage-item block">
                <div class="stage-item__number">03</div>
                <div class="stage-item__content">
                    <h3 class="stage-item__title">Непосредственно бурение скважины</h3>
                    <p class="stage-item__description">Выполняем бурение с использованием современного оборудования под строгим контролем специалистов.</p>
                </div>
                <div class="stage-item__icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35 18.333h-3.333V15H25v3.333h-3.333V25H25v3.333h6.667V25H35v-6.667zm-6.667 5H28.333v-1.666h1.667v1.666zm-20-15L1.667 15v13.333h13.333V15L8.333 8.333zm3.334 8.334h3.333v5h-3.333v-5z" fill="var(--lazur)"/>
                    </svg>
                </div>
            </div>

            <!-- Этап 4 -->
            <div class="stage-item block">
                <div class="stage-item__number">04</div>
                <div class="stage-item__content">
                    <h3 class="stage-item__title">Техническое обслуживание</h3>
                    <p class="stage-item__description">После завершения работ, мы предоставляем клиентам техническое обслуживание и консультации по эксплуатации скважины, чтобы обеспечить долгосрочную надежность системы водоснабжения.</p>
                </div>
                <div class="stage-item__icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35 5H5c-1.833 0-3.333 1.5-3.333 3.333v23.334C1.667 33.5 3.167 35 5 35h30c1.833 0 3.333-1.5 3.333-3.333V8.333C38.333 6.5 36.833 5 35 5zm0 26.667H5V8.333h30v23.334zM15 15h10v1.667H15V15zm0 5h10v1.667H15V20zm0 5h10v1.667H15V25z" fill="var(--lazur)"/>
                    </svg>
                </div>
            </div>

            <!-- Этап 5 -->
            <div class="stage-item block" >
                <div class="stage-item__number">05</div>
                <div class="stage-item__content">
                    <h3 class="stage-item__title">Гарантия качества</h3>
                    <p class="stage-item__description">Мы гарантируем высокое качество услуг и удовлетворение потребностей каждого клиента.</p>
                </div>
                <div class="stage-item__icon">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 3.333C10.795 3.333 3.333 10.795 3.333 20c0 9.205 7.462 16.667 16.667 16.667 9.205 0 16.667-7.462 16.667-16.667 0-9.205-7.462-16.667-16.667-16.667zm-5 25l-7.083-7.083 2.358-2.358 4.725 4.725 12.642-12.642 2.358 2.358L15 28.333z" fill="var(--lazur)"/>
                    </svg>
                </div>
            </div>

        </div>

        <div class="stages-footer">
            <a href="services_prise.html#zayvka" class="services-cta">Обсудить мой проект</a>
        </div>
    </div>
</section>